.navcontainer {
    background-color: navy;
    color: white;
   overflow: hidden;
}
ul {
    float: left;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}