.header {
    background-color: lightblue;
    color: white;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul {
    color: darkgray;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}